.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF8F3;
}

.menus {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menus li {
    list-style: none;
    margin: 20px;
    text-decoration: none;
}

.menus li a{
    text-decoration: none;
}
.logo-title span {
    font-weight: 800;
    color: #FD6E0A;
}

.logo-title {
    font-size: xx-large;
    font-family: Open Sans;
}

.btn-primary {
    background-color: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    color: white;
    padding: 15px 30px;
}
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png) ;
    background-repeat: no-repeat;
    background-position: bottom right   ;
}

.banner-text{
    margin-left: 200px ;
    padding-top: 100px;
}
.ban-image{
    height: 500px;
    
}
.about , h3 , p{
    text-align: center;
    margin-left: 150px;
    
}
.about{
    background-color: #FFF8F3;
    
}
.main-section{
    width: 1140px;
    text-align: center;
}
.name{
    text-align: center;
}

.about-info{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin-left: 60px;
    background-color: #FFF8F3;

}
.about-details{
    text-align: center;
    
}
.about-section{
    background-color: #FFF8F3;
}

.whatTodo{
    margin-top: 250px;
}

.work-area-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon{
    margin-left: 150px;
}
.work-title{
    padding-left: 155px;
}

.work-area-sectionwork-area-section{
    margin-top: 80px;
    margin-right: 500px;
}
.work-description{
    text-align: justify;

}
.resume{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-section{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.icon{
    display: flex;
    /* justify-content: space-around; */
}
.icon li{
    list-style: none;
}
#name{
    border-radius:  15px solid;
    height: 25px;
    margin-right: 65px;
    
}
#email{
    border-radius:  15px solid;
    height: 25px;
    margin-right: 65px;

}
.form-title{
    text-align: center;
    margin-right: 250px;
}
.footer-section{
    background-color: #FFF8F3;
}